html {scroll-behavior: smooth;}

body {
	font-family: Arial, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	background-color: #0f152a;
	background-size: cover;
}

/*------header------*/
.head-cont{
	background-image: url("images/pic1.jpeg");
	background-size: cover;
	background-position: center; 
	background-attachment: scroll;
	height: 160px;
	width: 100%;
	text-align: center;
	color: white;
	margin: 0px;
}

header .logo {
	align-content: center;
	margin-top: 0px;
}

header {
	position: sticky; top:0px;
}

nav a {
	text-decoration:none;
	font-weight:bold;
	margin: 15px;
	color:darkblue;
	cursor: pointer;
}

nav a:hover {
	text-decoration: underline;
	color: green;
}

header h1 {
	font-size: 34px;
	margin: 0px;
	letter-spacing: 6px;
	color: black;
	font-family: algerian;
	text-shadow: 5px 5px 5px white;
}

header p {
	font-size: 16px;
	margin: 14px;
	line-height: 15px;
}

.cont {
    background-image: url("images/pic1.jpeg");
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	background-attachment: scroll;
    margin: 10px 20px;
    padding: 8px;
    border-radius: 50px 15px;
}

.cont {
	scroll-margin-top: 150px;
}

/*-------Home-------*/

.home-cont h3 {
	color: darkblue;
}

.home-cont img {
	border-radius: 15px;
	max-width: 360px;
	justify-self: center;
	cursor: pointer;
}	

.post img:hover{
	background-color: black;
}
/*-----offers------*/

#offers .table-row {
	display: flex;
	gap: 25px;
	margin-top: 30px;
	justify-content: center;
}

.offers-cont p {
	text-align: center;
}

.offers-cont h2 {
	color: #5c218a;	
}

.offers-cont h4 {
	color:black;
}

.offers-cont h3 {
	color: purple;
	font-size: 20px;
}

.offers-cont ul{
	line-height: 20px;
}

/*-----Contact------*/

.contact-cont h1 {
	color: #5c218a;
}

.contact-cont {
	color: black;
}

.form {
	margin-top:0px;
}

div .input-box{
	display:flex;
	flex-direction:column;
	font-size:20px;
	justify-self:center;
	width:250px;
	border-radius:10px;
}

input {
	height: 30px;
	border-radius: 8px;
	margin: 4px;
}

textarea {
	font-size: 16px;
	resize: none;
	border-radius: 10px;
	margin: 5px;
}

.btn {
	margin-top: 5px;
	padding: 4px 18px;
	border-radius: 10px;
	font-size:14px;
	cursor: pointer;
}


/*------Desktop (1024px)------*/

@media (max-width:1024px){
  .head { text-align: center; }
  .head-cont { background-size: cover;
	background-position: center;
	height:140px;}
  .head h1 { font-size: 24px; }
  .head p { font-size: 16px; }
  .navbar {
		font-size:16px;
		text-align:center;
	}
  
  .cont { font-size: 14px; 
  }
  
  div .table-row {
		display: flex;
		flex-wrap: wrap;
	}
	table {
		height: 200px;
		width: 200px;}
	
	.table-row .one {
		height: 200px;
		width: 200px;
	}
}

/*-------Tablet (768px)-------*/

@media screen and (max-width:768px){
	.head-cont { background-size: cover;
	background-position: center;
	height:135px;}
	
	.head h1 { font-size: 20px; }
    .head p { font-size: 13px; }
	.navbar {
		text-align: center;
		gap: 10px;
	}

	.cont { font-size: 12px;
	}
	.home-cont {
		flex-direction: row;
		justify-content: center;
	}
	
	.post {
		width: 250px;
		height: 150px;
	}
	
	div .table-row {
		display: flex;
		flex-wrap: wrap;
	}
	table {
		height: 160px;
		width: 160px;}
	
	.table-row .one {
		height: 160px;
		width: 160px;
	}
}

/*------Mobile (480px)------*/

@media screen and (max-width:480px){
	
	.head-cont { background-size: cover;
	background-position: center;
	height:130px;}
	.head h1 { font-size: 18px; }
    .head p { font-size: 12px; }
	.img {
		width: 50px;
		top: 10px;
		right: 10px;
	}
	.navbar {
		text-align: center;
		font-size: 14px;
	}
	.cont { font-size: 11px; }
	
	.home-cont {
		justify-content: center;
	}
	
    .post {
		width: 200px;height: 100px;
	}
	
	div .table-row {
		display: flex;
		flex-wrap: wrap;
	}
	.offers-cont h3 {
		font-size:15px;
	}
	table {
		height: 130px;
		width: 130px;}
	
	.table-row .one {
		height: 130px;
		width: 130px;
	}
	div .input-box{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	width: 200px;
	border-radius: 8px;
	width: 190px;
    }
	input {
	height: 25px;
	border-radius: 8px;
    }
    textarea {
    font-size: 14px;
	width:240px;
    }
    .btn {
	padding: 3px 16px;
	border-radius: 8px;
	font-size: 12px;
	}
}
